<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <section>
    <h1 class="sr-only">Checkout</h1>
  
    <div class="mx-auto grid max-w-screen-2xl grid-cols-1 md:grid-cols-2">
      <div class="bg-gray-50 py-12 md:py-24">
        <div class="mx-auto max-w-lg space-y-8 px-4 lg:px-8">
          <div class="flex items-center gap-4">
            <span class="h-10 w-10 rounded-full bg-blue-700"></span>
  
            <h2 class="font-medium text-gray-900">BambooYou</h2>
          </div>
  
          <div>
            <p class="text-2xl font-medium tracking-tight text-gray-900">
              $<% if(typeof data !== "underfined"){%><%= data.amount_paid%><%} else{ %><%= 0%><%}%>
            </p>
  
            <p class="mt-1 text-sm text-gray-600">For the purchase of</p>
          </div>
  
          <div>
            <div class="flow-root">
              <ul class="-my-4 divide-y divide-gray-100">
                <% cart.forEach(function(data){ %>
                <li class="flex items-center gap-4 py-4">
                  <img
                    src="https://drive.google.com/uc?export=view&id=<%= data.products.img%>"
                    alt=""
                    class="h-16 w-16 rounded object-cover"
                  />
  
                  <div>
                    <h3 class="text-sm text-gray-900"><%= data.products.name%></h3>
  
                    <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                      <div>
                        <dt class="inline">Size:</dt>
                        <dd class="inline">XXS</dd>
                      </div>
  
                      <div>
                        <dt class="inline">Color:</dt>
                        <dd class="inline">White</dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <%})%>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="bg-white py-12 md:py-24">
        <div class="mx-auto max-w-lg px-4 lg:px-8">
          <form class="grid grid-cols-6 gap-4" action="/customer/checkout" method="post">
            <div class="col-span-3">
              <label
                for="FirstName"
                class="block text-xs font-medium text-gray-700"
              >
                First Name
              </label>
  
              <input
                type="text"
                id="FirstName"
                class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
                value="<%= user.fullname%>"
                disabled
              />
            </div>
  
            <div class="col-span-3">
              <label
                for="LastName"
                class="block text-xs font-medium text-gray-700"
              >
                Last Name
              </label>
  
              <input
                type="text"
                id="LastName"
                class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
              />
            </div>
  
            <div class="col-span-6">
              <label for="Email" class="block text-xs font-medium text-gray-700">
                Email
              </label>
  
              <input
                type="email"
                id="Email"
                class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
                value="<%= user.email%>"
                disabled
              />
            </div>
  
            <div class="col-span-6">
              <label for="Phone" class="block text-xs font-medium text-gray-700">
                Phone
              </label>
  
              <input
                type="tel"
                id="Phone"
                class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
                value="<%= user.phone%>"
                disabled
              />
            </div>
  
            <div class="col-span-6">
              <label for="Address" class="block text-xs font-medium text-gray-700">
                Address
              </label>
  
              <input
                type="text"
                name="address"
                id="address"
                class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
              />
              <div id="error_notice"></div>
            
            </div>
            <div class="col-span-6">
              <button type="button"
                id="pay_click"
                class="block w-full rounded-md bg-black p-2.5 text-sm text-white transition hover:shadow-lg"
              >
                Pay Now
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
      $("#pay_click").click(function(){
          $.ajax({
            url: "/customer/checkout",
            type:"post",
            data: {address: $("#address").val()},
            dataType: "json",
            success: function(data){
                if(data.statusCode === 201){
                  console.log(data);
                $("#error_notice").empty();
                $("#error_notice").append("<span class='text-sm text-red-600'>"+ data.errors.errors[0].msg +"</span>");
                }
                else if(data.statusCode === 200){
                  location.href = "/customer/payment";
                }
            }
          })
      })
  </script>
</body>
</html>